.nav{
    list-style:none;
    margin:0;
    padding:0;
    top: 0;
    text-align:center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.788);
    position: fixed;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: .85em;
    word-spacing: 40px;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    color: white;
    padding:10px;
    text-decoration: none;
    padding: 13px 16px;

}

li a:hover {
    color: rgb(138, 138, 138);
    
}

.nav .active {
    color: rgb(138, 138, 138);
}

/*
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.788);
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: .85em;
    align-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}
*/
/* Change the link color to #111 (black) on hover */


body {
    margin:0;
    left: 0;
    height: 100%;
}

body, html {
    height: 100%;
}

h1 {
    font-family: 'Hind', sans-serif;
    font-size: 4.5em;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
}

p {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.75em;
}
.center {
    text-align: center;
}

.greeting {
    line-height: 50%;
    vertical-align: middle;
}

.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.animate{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    -webkit-animation-name: animate;
    -webkit-animation-duration: 4s; 
    animation-name: animate;
    animation-duration: 4s;
    margin-left: auto;
    margin-right: auto;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animate {
    0% {background-color:blue; left:0px; top:0px;}
    25% {background-color: green; left: 200px; top: 0px;}
    50% {background-color: red; left: 200px; top: 200px;}
    75% {background-color: yellow; left: 0px; top: 200px;}
    100% {background-color: blue; left: 0px; top: 0px;}
}

iframe {
    height: 1000px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}