.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.788);
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: .85em;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
    color: rgb(138, 138, 138);
}

.active {
    color: rgb(138, 138, 138);
}

body {
    margin:0;
    left: 0;
    height: 100%;
}

body, html {
    height: 100%;
}

h1 {
    font-family: 'Hind', sans-serif;
    font-size: 4em;
    font-weight: 600;
    text-align: center;
}

.bg {
    /* The image used */
    background-image: url("aLUDwDa.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
.nav{
    background-color: rgba(0, 0, 0, 0.788);
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.active {
    color: grey;
}
body {
    margin:0;
}
*/
